  .goodsL{
    margin-top: 10px;
  }
  .wrapG{
    padding: 10px 15px;

  }
  .goodsL{
    border:1px solid #ddd;
    height: 550px;
  }
  .sub{
    text-align: center;
    margin-top: 10px;
  }

  .orderTitle{
    font-weight: bold;
    border-left: 3px solid #67C8E7;
    margin: 6px 0;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .orderTitle span{
    color: #B5B5B6;
  }
  .accept,.step-first,.step-last{
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    color: #FFF;
    background: #cacaca;
    z-index: 1;
    text-align: center;
    display:inline-block;
    width: 24%;
    position: relative;
  }
  .accept:before,.step-last:before{
    content: '';
    display: block;
    position: absolute;
    left: -12px;
    z-index: 8;
    top: 0px;
    border-top: 12px solid #cacaca;
    border-left: 12px solid transparent !important;
    border-bottom: 12px solid #cacaca;
    
  }
  .accept:after,.step-first:after{
    content: '';
    display: block;
    width: 16px;
    height: 24px;
    position: absolute;
    right: 0px;
    z-index: 9;
    top: 0px;
    border-top: 12px solid transparent !important;
    border-left: 12px solid #cacaca;
    border-bottom: 12px solid transparent !important;
    background-color: #fff;
    display:inline-block;
    width: 7%;
  }
  .wrapcheck{
    background: white;
    padding: 15px;
    height: 600px;
  }
  .problem{
    display: inline-block;
    width: 100%;
    background: #EFEFEF;
    color: #000;
    height: 30px;
    line-height: 30px;
    margin-top:15px;
    padding-left: 10px;
  }
  .problemName{
    color: #595757;
    margin: 10px;
    padding-left:5px;
  }
  .acceptDetail{
    color: #9FA0A0;
    padding-bottom: 10px;
    border-bottom: 1px solid #C9CACA;
    margin-bottom: 20px;
  }
  .acceptDetail span{
    margin-right: 15px;
  }
  .communicate{
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #C9CACA;
    display: block;
    height:68px;
  }

  .content {
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    height: auto; 
}
  .lines{
    margin: 2px;
    width: 100%;
  }
  .afterSale{
    border-bottom: 1px solid #C9CACA;
    margin-bottom: 20px;
  }
  .againProblem textarea{
    width: 80%;
    margin-top: 15px;
  }
  .againProblem button{
    width: 120px;
    height:30px;
    border:none;
    color: #fff;
    background: #F39800;
    margin-top:6px;
  }
  .evaluateTitle{
    color: #9FA0A0;
    margin: 10px;
  }
  .satisfaction span{
    margin-left: 15px;
  }
  .stepOne{
    background: #67C8E7;
  }
  .stepOne:after{
    border-left: 12px solid #67c8e7;
  }
  .stepTwo{
    background: #4bc5ec;
  }
  .stepTwo:after{
    border-left: 12px solid #4bc5ec;
  }
  .stepTwo:before{
    border-top: 12px solid #4bc5ec;
    border-bottom: 12px solid #4bc5ec;
  }
  .stepThree{
    background: #23bff1;
  }
  .stepThree:after{
    border-left: 12px solid #23bff1;
  }
  .stepThree:before{
    border-top: 12px solid #23bff1;
    border-bottom: 12px solid #23bff1;
  }
  .stepFour{
    background: #05abe0;
  }
  .stepFour:after{
    border-left: 12px solid #05abe0;
  }
  .stepFour:before{
    border-top: 12px solid #05abe0;
    border-bottom: 12px solid #05abe0;
  }

  .col-lg-12{
    width: 100%;
  }
  .col-lg-3{
    display:inline-block;
    width: 24%;
  }
  .right{
    float: right;
  }